@charset 'utf-8';

@font-face {
    font-family: Zenkurenaido;
    font-display: swap;
    src: url("ZenKurenaido-Regular.ttf") format("TrueType");
    }


/*ノーマライズ*/
h2{
    background-color: #f1f0e2;
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #354519;/*文字色*/
    border-left: solid 5px #cbc3b2;/*左線*/
}


body,html{
    margin: 0;
    font-family: 'Zenkurenaido', sans-serif;
    font-size: 16px;
    background-color: #eaffeab0;
    background-image: url('./bg.png');
    background-size: cover; /*--背景画像のサイズ--*/
    background-attachment: fixed; /*--背景画像の固定--*/
    background-repeat: no-repeat; /*--背景画像の繰り返し--*/
    background-position: center center; /*--背景画像の位置--*/
}

/*header*/
header{
    background-color: #ffffffaa;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 10px;
    display: flex;
    text-align: center;
}
    header h1{
        margin: 0;
    }
    header a{
        margin: auto 20px auto auto;
        text-decoration: none;
        color: #000;
    }

/*@header*/

/*main*/
.news{
    margin-top: 50px;
}

.news-list{
    box-shadow: 3px 3px 5px 0 #4949494f;
    padding: 10px 0 10px 20px;
    border-radius: 10px;
    margin: 20px 20px 0 20px;
    background-color: #f7fff8;
    list-style: none;
}

.links{
    display: flex;
    flex-wrap: wrap;
    gap: 8px 8px 8px 8px;
}
    .card{
        margin: 10px;
        min-width: 320px;
        max-width: 500px;
        height: 300px;
        flex-grow: 1;

        border-radius: 0.3rem;
        background-color: #ffffff;
        box-shadow: 3px 3px 3px 0 #4949491e;
        background-size: cover;
    }
    .card a{
        text-decoration: none;
    }
    .numbar{
        background-color: white;
        margin: 5px 0 0 5px;
        width: 28px;
        height: 28px;
        text-align: center;
        border-radius: 50%;
        border: 0.5px solid black;
    }
    .card h4{
        text-align: center;
        font-size: 1.25em;
        margin-top: 200px;
        color: #354519;
        background-color: #cbc3b2;
        padding-top: 10px;
        padding-bottom: 35px;
        border-radius: 0 0 0.3rem 0.3rem;

    }

.ounantusin div{
    border-radius: 10px;
    margin: 20px 20px 0 20px;
    background-color: #f7fff8;
    box-shadow: 3px 3px 5px 0 #4949494f;
    padding: 10px 0 10px 0;
    font-size: 32px;
    color: #000;
}
    .ounantusin a{
        text-decoration: none;
    }
    .ounantusin a div h4{
        margin-left: 5%;
    }
    .ounantusin a div h4 span{
        font-size: 0.5em;
    }
/*@main*/

.contact img{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0 #4949495b;
}

/*footer*/
footer{
    background-color: #f1f0e2;
    text-align: center;
}
/*@footer*/