@charset 'utf-8';

@font-face {
    font-family: Zenkurenaido;
    font-display: swap;
    src: url("ZenKurenaido-Regular.ttf") format("TrueType");
    }


/*ノーマライズ*/
h2{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f1f0e2;
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #354519;/*文字色*/
    border-radius: 1em;
    box-shadow: 3px 3px 3px 0 #4949491e;
}


body,html{
    margin: 0;
    font-family: 'Zenkurenaido', sans-serif;
    font-size: 16px;
}

/*header*/
header{
    background-color: #8ea03b;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 10px;
    display: flex;
    text-align: center;
}
    header img{
        height: 2.2em;
        width: 2.2em;
        line-height: 1.3em;
    }
    header h1{
        margin: 0;
        font-size: 1em;
        height: 1.3em;
        line-height: 1.3em;
        padding: 0.7em 0;
    }

/*@header*/

/*main*/
.cachcopy_bg{
    background-image: url(./bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10vh 10% 10vh 10%;
}
.cachcopy{
    margin: 0;
    font-size: 3em;
    min-width: 6em;
    max-width: 10em;
    padding: 40px 7% 40px 7%;
    background-color: #ccc3b3;
}

.links{
    display: flex;
    flex-wrap: wrap;
    gap: 8px 8px 8px 8px;
}
    .card{
        margin: 10px;
        width: 320px;
        height: 300px;
        flex-grow: 1;

        border-radius: 0.3rem;
        background-color: #ffffff;
        box-shadow: 3px 3px 3px 0 #4949491e;
        background-size: cover;
    }
    .card a{
        text-decoration: none;
    }
    .numbar{
        background-color: white;
        margin: 5px 0 0 5px;
        width: 28px;
        height: 28px;
        text-align: center;
        border-radius: 50%;
    }
    .card h4{
        text-align: center;
        font-size: 1.25em;
        margin-top: 200px;
        color: #354519;
        background-color: #cbc3b2;
        padding-top: 10px;
        padding-bottom: 35px;
        border-radius: 0 0 0.3rem 0.3rem;

    }

.news-list{
    box-shadow: 3px 3px 5px 0 #4949494f;
    padding: 10px 0 10px 20px;
    border-radius: 10px;
    margin: 20px 20px 0 20px;
    background-color: #f7fff8;
    list-style: none;
}

.ounantusin div{
    border-radius: 10px;
    margin: 20px 20px 0 20px;
    background-color: #f7fff8;
    box-shadow: 3px 3px 5px 0 #4949494f;
    padding: 10px 0 10px 0;
    font-size: 32px;
    color: #000;
}
    .ounantusin a{
        text-decoration: none;
    }
    .ounantusin a div h4{
        margin-left: 5%;
    }
    .ounantusin a div h4 span{
        font-size: 0.5em;
    }
/*@main*/

.contact img{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0 #4949495b;
}

/*footer*/
footer{
    background-color: #f1f0e2;
    text-align: center;
}
/*@footer*/